---
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
---
Language: Cpp
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortLambdasOnASingleLine: true
AllowShortRecordOnASingleLine: Always
AllowShortEnumsOnASingleLine: true
AllowShortNamespacesOnASingleLine: true
BreakTemplateDeclarations: No
IndentPPDirectives: BeforeHash
IndentCaseLabels: true
NamespaceIndentation: All
FixNamespaceComments: false
...
