Checks: >
  -*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-nullability.*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-noexcept-destructor,
  -cppcoreguidelines-noexcept-move-operations,
  -cppcoreguidelines-noexcept-swap,
  -cppcoreguidelines-missing-std-forward,
  -cppcoreguidelines-explicit-virtual-functions,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-use-default-member-init,
  -cppcoreguidelines-use-enum-class,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-c-copy-assignment-signature,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-avoid-magic-numbers,
  llvm-*,
  -llvm-header-guard,
  -llvm-prefer-static-over-anonymous-namespace,
  -llvm-namespace-comment,
  -llvm-else-after-return,
  -llvm-qualified-auto,
  hicpp-*,
  -hicpp-deprecated-headers,
  -hicpp-static-assert,
  -hicpp-function-size,
  -hicpp-undelegated-constructor,
  -hicpp-special-member-functions,
  -hicpp-named-parameter,
  -hicpp-vararg,
  -hicpp-member-init,
  -hicpp-braces-around-statements,
  -hicpp-uppercase-literal-suffix,
  -hicpp-use-auto,
  -hicpp-use-emplace,
  -hicpp-use-equals-default,
  -hicpp-use-equals-delete,
  -hicpp-use-noexcept,
  -hicpp-use-nullptr,
  -hicpp-use-override,
  -hicpp-avoid-goto,
  -hicpp-avoid-c-arrays,
  -hicpp-no-malloc,
  -hicpp-no-array-decay,
  -hicpp-noexcept-move,
  -hicpp-new-delete-operators,
  -hicpp-move-const-arg,
  -hicpp-invalid-access-moved,
  -hicpp-explicit-conversions,
  bugprone-*,
  -bugprone-throwing-static-initialization,
  -bugprone-forward-declaration-namespace,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,
  -bugprone-command-processor,
  performance-*,
  concurrency-*,
  -concurrency-mt-unsafe,
  portability-*,
  -portability-avoid-pragma-once,
  readability-*,
  -readability-use-concise-preprocessor-directives,
  -readability-function-size,
  -readability-function-cognitive-complexity,
  -readability-avoid-const-params-in-decls,
  -readability-isolate-declaration,
  -readability-redundant-access-specifiers,
  -readability-redundant-member-init,
  -readability-convert-member-functions-to-static,
  -readability-named-parameter,
  -readability-suspicious-call-argument,
  -readability-braces-around-statements,
  -readability-avoid-nested-conditional-operator,
  -readability-inconsistent-ifelse-braces,
  -readability-implicit-bool-conversion,
  -readability-else-after-return,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  modernize-*,
  -modernize-use-nodiscard,
  -modernize-use-designated-initializers,
  -modernize-use-trailing-return-type,
  -modernize-pass-by-value,
  misc-*,
  -misc-header-include-cycle,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion
ExcludeHeaderFilterRegex: .*
